{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('composants/button/button.css') }}">
{% endblock %}

<a class="{{ class }}" 
{% if route is defined %} href="{{ path(route) }}" {% endif %}
{% if onclick is defined %} onclick="{{ onclick }}" {% endif %}>
    <p class="para--regular para--large">{{ contenue | raw }}</p>
</a>
