<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('polices.css') }}">
        <link rel="stylesheet" href="{{ asset('style_general.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script>
            var jeuNonDisponibleUrl = "{{ path('app_jeu_non_disponible') }}";
            var accueilUrl = "{{ path('app_accueil') }}";
            var isUserLoggedIn = {{ app.session.get('utilisateur_id') is not null ? 'true' : 'false' }};
        </script>

        <script src="{{ asset('js/base.js') }}"></script>
    </body>
</html>
