{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('composants/pop-up/pop-up.css') }}">
{% endblock %}

<div class="popup-overlay"></div>

<div class="popup-container">
    <div class="popup-header">
    {% if not titre_popup %}
        <img src="{{ asset('assets/images/LogoCPAM22_RVB.jpg') }}" alt="Logo de la caisses primaires d'assurance maladie">
    {% else %}
        <h1 class="titre--regular titre--large">{{titre_popup}}</h1>
    {% endif %}
    </div>

    <div class="popup-main">
        <p class="para--regular para--large">{{ texte_popup | raw}}</p>
    </div>

    <div class="{{conteneur_button_style}}">
        {% for button in buttons %}
            {% include 'composants/button/button.html.twig' with { 'contenue': button.contenue, 'class': button.class, 'onclick': button.onclick } %}
        {% endfor %}
    </div>
</div>
