{% extends 'base.html.twig' %}

{% block title %}Modifier son Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('profil/modifier_profil.css') }}">
{% endblock %}

{% block body %}
    {% include 'composants/header/header.html.twig' %}

    <div class="profil-container">
        <h1 class="profil-title titre--large titre--bold">Modifier votre profil</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success para--medium para--regular">
                {{ message }}
            </div>
        {% endfor %}

        <div class="profil-infos">
            <form action="{{ path('app_modifier_profil_traitement') }}" method="POST" class="profil-form">
                <div class="form-group">
                    <label class="para--regular para--large" for="identifiant">Identifiant : </label>
                    <input type="text" id="identifiant" name="identifiant" class="form-input" value="{{ identifiant }}" required>
                </div>

                <div class="form-group">
                    <label class="para--regular para--large" for="email">Adresse email : </label>
                    <input type="email" id="email" name="email" class="form-input" value="{{ email }}" required>
                </div>
                <div class="container-btn">
                    <button type="submit" class="btn para--large para--regular">Modifier</button>
                </div>
            </form>
        </div>
    </div>

    {# Inclusion de la barre de navigation #}
    {% if navItems is defined and activeNav is defined %}
        {% include 'composants/nav_bar/navigation.html.twig' with { 'navItems': navItems, 'activeNav': activeNav } %}
    {% endif %}
{% endblock %}
