{% extends 'base.html.twig' %}

{% block title %}JeuRamasseur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jeux/jeu_2/jeu_2_gameplay.css') }}">
{% endblock %}


{% block body %}
    {# composant ecran pause #}
    {% include 'composants/ecran_pause/ecran_pause.html.twig' with { 'lien': 'app_jeu_ramasseur'} %}

    <div class="score-container">
        <h1 class="titre--large titre--bold">Score : <span id="score-value">0</span></h1>
        <div id="error-container"></div>
    </div>

    <div id="countdown" class="countdown-container titre--bold titre--extralarge"></div>
    {% include 'composants/chronometre/chronometre.html.twig' %}

    <img src="{{ asset('assets/images/Jauge-01.png') }}" alt="Image fixe" class="fixed-jauge">

    <img src="{{ asset('assets/images/Tirelire.png') }}" alt="tirelire" class="tirelire" id="tirelire">

    {% include 'composants/pop-up/pop-up.html.twig' with {
        nom_popup: "consignes",
        titre_popup: "Consignes",
        texte_popup: "<ul>
            <li class='para--regular para--large'>Déplacez la tirelire pour attraper les différents objets de la C2S qui tombent du ciel et gagner.</li>
            <li class='para--regular para--large'>Si vous attrapez trois objets qui ne font pas partie de la C2S, vous avez perdu.</li>
            <li class='para--regular para--large'>Plus la difficulté est élevée, plus la vitesse des objets augmente.</li>
        </ul>
        <p class='para--regular para--large'>Pour lancer le jeu, sélectionnez la difficulté.</p>",
        conteneur_button_style: "conteneur_button_column", 
        buttons: [
            { contenue: 'Facile', class: 'btn--easy btn--lvl', onclick :"fermerPopupLvlFacile()" },
            { contenue: 'Normal', class: 'btn--normal btn--lvl', onclick :"fermerPopupLvlNormal()" },
            { contenue: 'Difficile', class: 'btn--hard btn--lvl', onclick :"fermerPopupLvlDifficile()" }
        ]
    } %}

    {% set classement_html %} 
        {% include 'composants/classement/classement.html.twig' with {'classement': classement, 'isLeaderboard': false} %} 
    {% endset %}
    {% include 'composants/pop-up/pop-up.html.twig' with {
        nom_popup: "popup_fin",
        titre_popup: "",
        texte_popup: "",
        conteneur_button_style: "conteneur_button_row", 
        buttons: [
            { contenue: 'Rejouer', class: 'btn', route: "app_jeu_ramasseur" },
            { contenue: 'Quitter', class: 'btn', route: "app_accueil" },
        ]
    } %}
    {% include 'composants/pop-up/pop-up.html.twig' with {
        nom_popup: "popup_score",
        titre_popup: "Score : 0",
        texte_popup: classement_html,
        conteneur_button_style: "conteneur_button_row", 
        buttons: [
            { contenue: 'Continuer', class: 'btn', onclick :"clickContinuer()" },
            { contenue: 'Partager', class: 'btn', onclick :"clickPartager()" },
        ]
    } %}



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jeux/jeu_2/jeu_2_gameplay.js') }}"></script>
    <script src="{{ asset('js/jeux/jeux_global/jeu_global.js') }}"></script>
{% endblock %}