{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/leaderboard/leaderboard.css') }}">
{% endblock %}

{% block body %}
    {% include 'composants/header/header.html.twig' %}
    
    <div class="main_container">
    {% if classement is not empty %}
        {% set leader = classement[0] %}
    {% else %}
        {% set leader = null %}
    {% endif %}



    <div class="number1">
        <div class="filter_bar">
           <button class="share_score para--bold para--large">Partager</button>
            <select class="game_name para--bold para--large">
                <option value="0">Tous les jeux</option>
                {% for jeu in jeux %}
                    <option value="{{ jeu.id }}" {% if jeuId == jeu.id %}selected{% endif %}>{{ jeu.nomJeu }}</option>
                {% endfor %}
            </select>
            <input type="text" class="search_player para--bold para--large" placeholder="Rechercher">
        </div>

        <div class="number1_position">
            <img src="{{ asset('assets/images/medaille_or.png') }}" alt="Médaille Or" />
        </div>
        
        <div class="number1_utilisateur">
            {% if leader is defined and leader.identifiant is defined %}
                <p class="para--bold para--extralarge">{{ leader.identifiant }}</p>
            {% elseif utilisateur is defined and utilisateur.identifiant%}
                <p class="para--bold para--extralarge">{{ utilisateur.identifiant }}</p>
            {% endif %}
        </div>

        <div class="number1_score">
            {% if leader %}
                <p class="para--regular para--large">{{ leader.MaxscoreJeu }}</p>
            {% else %}
                <p class="para--regular para--large">{{ scoreUser.score }}</p>
            {% endif %}
        </div>
    </div>

    {% set classement = classement|slice(1) %}

    <div class="classement">
        {% include 'composants/classement/classement.html.twig' with {'classement': classement, 'isLeaderboard' : true} %}
    </div>

    {# Inclusion de la barre de navigation #}
    {% if navItems is defined and activeNav is defined %}
        {% include 'composants/nav_bar/navigation.html.twig' with { 'navItems': navItems, 'activeNav': activeNav } %}
    {% endif %}
</div>


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/leaderboard/leaderboard.js') }}"></script>
    <script src="{{ asset('js/global/global.js') }}"></script>
    <script src="{{ asset('js/jeux/jeux_global/jeu_global.js') }}"></script>
{% endblock %}