{% extends 'base.html.twig' %}

{% block title %}JeuDino{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jeux/jeu_3/jeu_3_gameplay.css') }}">
    <link rel="stylesheet" href="{{ asset('composants/chronometre/chronometre.css') }}">

{% endblock %}


{% block body %}
    {# composant ecran pause #}
    {% include 'composants/ecran_pause/ecran_pause.html.twig' with { 'lien': 'app_jeu_dino'} %}

    <div class="iban-container">
        <img src="{{ asset('assets/images/jeu3/iban_titre.png') }}" alt="Ban Titre" class="iban-image">
        <img src="{{ asset('assets/images/jeu3/iban_a_remplir.png') }}" alt="Ban Titre" class="iban-vide-image">
        <div id="error-container"></div>
    </div>

    <div id="countdown" class="countdown-container titre--bold titre--extralarge"></div>
    {% include 'composants/pop-up/pop-up.html.twig' with {
        nom_popup: "consignes",
        titre_popup: "Consignes",
        texte_popup: "<ul>
            <li class='para--regular para--large'>Récupérez un maximum de chiffres pour compléter l’IBAN et n’oubliez pas de sauter par-dessus les cactus !</li>
            <br />
            <li class='para--regular para--large'>Niveau 1 <br />
            Les nombres apparaissent à l'écran. Si vous ne les récupérez pas, vous perdez des points.</li>
            <br />
            <li class='para--regular para--large'>Niveau 2 <br />
            Les nombres ne sont pas visibles et ne peuvent pas être récupérés directement. Vous devrez les deviner plus tard !</li>
            <br />
        </ul>
        <p class='para--regular para--large'> Utilisez ESPACE pour sauter !</p>",
        conteneur_button_style: "conteneur_button_column", 
        buttons: [
            { contenue: 'Niveau 1', class: 'btn--normal btn--lvl', onclick :"fermerPopupLvlNormal()" },
            { contenue: 'Niveau 2', class: 'btn--hard btn--lvl', onclick :"fermerPopupLvlDifficile()" }
        ]
    } %}

    {# ----- La pop-up de fin (texte gagné / perdu) ----- #}
{% include 'composants/pop-up/pop-up.html.twig' with {
    nom_popup: "popup_fin",
    titre_popup: " ",
    texte_popup: "",
    conteneur_button_style: "conteneur_button_row",
    buttons: [
        { contenue: 'Rejouer', class: 'btn', route: "app_jeu_dino" },
        { contenue: 'Quitter', class: 'btn', route: "app_accueil" },
    ]
} %}

{# ----- La pop-up de score ----- #}
{% include 'composants/pop-up/pop-up.html.twig' with {
    nom_popup: "popup_score",
    titre_popup: "Score : ???",
    texte_popup: "",  
    conteneur_button_style: "conteneur_button_row",
    buttons: [
        { contenue: 'Continuer', class: 'btn', onclick :"clickContinuer()" },
        { contenue: 'Partager', class: 'btn', onclick :"clickPartager()" },
    ]
} %}



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jeux/jeu_3/jeu_3_gameplay.js') }}"></script>
    <script src="{{ asset('js/jeux/jeux_global/jeu_global.js') }}"></script>
{% endblock %}